* {
    margin:0;
    padding:0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
}

.container {   
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    /* font-weight: bolder; */
    text-align: center;
    height: 100%;
}

.year-container {
    width: 25%;
    background-color: #483838;
}

.year {
    margin-top: 80%;
}

.canvas-container {
    flex-grow: 3;
    background-color: #D2D79F;
}

.canvas {
    position: relative;
    transform: translate(50%, 50%);
    background-color: white;
    width: 50%;
    height: 50%;
}