* {
    margin:0;
    padding:0;
}

html {
   width: 100vw;
   height: 100vh;
}

body {
    height: 100vh;
    overflow: hidden; 
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1rem;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.year-container {
    display: flex;
    width: 25%;
    height: 100%;
    background-color: #483838;
}

#year {
    transform: translateY(40%);
}

.company-name-container {
    height: 100%;
    width: 6%;
    background-color: #d2d79f;
}

#company-name {
    font-size: 1.1rem;
    font-weight: bold;
    transform: rotate(-90deg);
    margin-top: 30px;

}

#company-name:hover {
    color:#90b77d;
}

h1 {
    text-align: center;
    /* top: 40%; */
    font-size: 3.5rem;
    color:#90b77d; 
    width: 100%;
}

#stats-title {
    margin-top: 10px;
    font-size: 2.5rem;
}

#title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 30px;
    }

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 75%;
    height: 100%;
    background-color: #d2d79f;
}

.content {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 75%;
    background-color: #ffffff; 
    /* background-color: red; */
    transform: translateX(15%);
}

img{
    width: 100%;
    height: auto;
    /* display: block; */
    /* transform: translate(15%,30%); */
}

.select-info {
    margin-top: -35px;
    width: 100%;
    text-align: center;
}



label {
    font-size: 1.2rem;
}

#browser {
    width:50%;
    padding: 2px;
}

#submit {
    padding: 2px;
}

@media only screen and (max-width: 768px) {

    .company-name-container {
        display: none;
    }

    .container {
        flex-direction: column;
    }
    
    .year-container {
        width: 100%;
        height: 20%;
    }

    .info-container {
        width: 100%;
        height: 80%;
    }

}

