/* GLOBAL */

* {
<<<<<<< Updated upstream
    margin:0;

=======
  margin: 0;
  padding: 0;
>>>>>>> Stashed changes
}
html {
  height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 13% 25%) 0%,
    hsl(139deg 27% 36%) 33%,
    hsl(142deg 34% 39%) 47%,
    hsl(139deg 27% 36%) 64%,
    hsl(0deg 13% 25%) 100%
  );
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

/* TITLE */
<<<<<<< Updated upstream
.title {
    /* background-color: red; */
    /* font-size: 3.125rem; */
    margin: 50px;
    text-align: center;
=======
#title {
  /* background-color: red; */
  /* font-size: 3.125rem; */
  margin: 50px;
  text-align: center;
>>>>>>> Stashed changes
}

/* CARDS */

.flex-cards {
  margin: 100px auto;
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  /* width: 100%; */
  /* font-size: 1rem */
  border-radius: 10px;
  background-color: #d2d79f;
  padding: 50px 100px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
<<<<<<< Updated upstream
=======

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.1rem;
}
>>>>>>> Stashed changes
@media only screen and (max-width: 850px) {
  .flex-cards {
    /* margin-top: 130px; */
    justify-content: space-around;
    width: 80%;
  }

  .card {
    padding: 30px 60px;
    gap: 20px;
  }
}

@media only screen and (max-width: 446px) {
  .flex-cards {
    margin-top: 10px;
    justify-content: center;
    width: 100%;
  }
}

@media only screen and (max-width: 350px) {
  .card {
    padding: 30px 50px;
    gap: 20px;
  }
}

@media only screen and (max-width: 304px) {
  .flex-cards {
    justify-content: center;
  }
  .card {
    margin-left: -10px;
    padding: 20px 50px;
    gap: 20px;
  }
}

<<<<<<< Updated upstream


=======
/************ STATISTICS *************/
.container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.year-container {
  width: 25%;
  height: 100%;
  background-color: #483838;
}

#year {
  text-align: center;
  position: relative;
  top: 40%;
  font-size: 3.5rem;
  color: #90b77d;
  width: 100%;
  /* transform: translate(50%, 50%);  */
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 75%;
  height: 100%;
  background-color: #d2d79f;
}

.content {
  width: 80%;
  height: 70%;
  background-color: #ffffff;
  /* margin:0 auto; */
  transform: translateX(10%);
}

.select-info {
  width: 100%;
  background-color: aqua;
  text-align: center;
}

#browser {
  width: 10%;
  padding: 2px;
}

#submit {
  padding: 2px;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .year-container {
    width: 100%;
    height: 20%;
  }

  .info-container {
    width: 100%;
    height: 80%;
  }
}

/************************* main page ************************/
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./image1.png");
  background-size: cover;
  height: 100%;
  filter: brightness(90%) contrast(110%);
  filter: hue-rotate(20deg) saturate(120%);
  opacity: 0.7;
}
.main-title {
  font-family: Arial, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: -150px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 30px #fff,
    0 0 40px #90b77d, 0 0 50px #90b77d, 0 0 60px #90b77d, 0 0 30px #fff,
    0 0 30px #fff, 0 0 70px #d2d79f, 0 0 80px #d2d79f, 0 0 90px #d2d79f,
    0 0 30px #fff;
}
.main-button {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #42855b;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.main-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
>>>>>>> Stashed changes
