<!DOCTYPE html>
<html lang="ro">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Romanian Drug Explorer</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/powerpuff_icon.png"
    />
    <link rel="stylesheet" href="../static/main-styles.css" />
    <link rel="stylesheet" href="../static/header.css" />
    <link rel="stylesheet" href="../static/footer.css" />
  </head>

  <body>
    <header id="header" class="hide">
      <div class="header-left">
        <a href="/"> Acasa </a>
      </div>

      <div class="header-right">
        <div class="statistics">
          <a href="/yearselect">Statistici</a>
          <ul>
            <li>
              <a
                onclick="getYear(2017)"
                href="/statisticdocs"
                class="year-container"
                >2017</a
              >
            </li>
            <li>
              <a
                onclick="getYear(2018)"
                href="/statisticdocs"
                class="year-container"
                >2018</a
              >
            </li>
            <li>
              <a
                onclick="getYear(2019)"
                href="/statisticdocs"
                class="year-container"
                >2019</a
              >
            </li>
            <li>
              <a
                onclick="getYear(2020)"
                href="/statisticdocs"
                class="year-container"
                >2020</a
              >
            </li>
            <li>
              <a
                onclick="getYear(2021)"
                href="/statisticdocs"
                class="year-container"
                >2021</a
              >
            </li>
            <li>
              <a
                onclick="getYear(2022)"
                href="/statisticdocs"
                class="year-container"
                >2022</a
              >
            </li>
          </ul>
        </div>
        <a href="/druglist">Droguri</a>
        <a href="/help">Ajutor</a>
        <a href="/myaccount">
          <img
            class="account-navbar"
            src="../static/images/myaccountnavbar.png"
            alt="Logo"
            class="logo"
          />
        </a>
      </div>
    </header>

    <div class="homepage">
      <h1 class="main-title">Romanian Drug Explorer</h1>
      <button class="main-button" onclick="window.location.href='/yearselect'">
        Statisticile pe ultimii 6 ani
      </button>
    </div>

    <div class="subsol-notes">
      <p>
        Proiectul nostru utilizează date statistice actualizate privind consumul
        de droguri, infracțiunile și confiscările, urgențele medicale și
        campaniile de prevenire a consumului de stupefiante, pentru a oferi o
        analiză comprehensivă și interactivă a situației drogurilor în România
        în ultimii ani.
      </p>
      <p>
        Folosind funcționalitățile noastre avansate, puteți realiza căutări
        multi-criteriale și rapoarte aferente generate, care vor fi expuse ca
        documente HTML și în format CSV. Mai mult decât atât, proiectul nostru
        include și un API REST/GraphQL propriu, pentru a permite integrarea
        datelor în alte aplicații sau platforme.
      </p>
      <p>
        Cu ajutorul celor minim trei moduri de vizualizare generate, puteți
        obține o imagine completă și detaliată a tendințelor consumului de
        droguri în România, corelate cu infracțiunile și confiscările efectuate,
        urgențele medicale și campaniile de prevenire a consumului de
        stupefiante. Vizualizările pot fi exportate în formatele PNG și SVG,
        pentru a putea fi integrate în alte prezentări sau rapoarte.
      </p>
    </div>
    <footer>
      <p>Termeni și condiții</p>
      <br />
      Accesul la instrumentul Web de analiză și vizualizare la consumul de
      droguri este gratuit și nu necesită crearea unui cont.
      <br />
      Datele statistice utilizate în acest instrument Web sunt obținute din
      surse publice, precum Institutul Național de Statistică, Autoritatea
      Națională pentru Consum și Controlul Drogurilor și alte organizații
      oficiale.
      <br />
      Utilizatorii trebuie să acorde o atenție deosebită interpretării corecte a
      datelor statistice prezentate, deoarece acestea pot varia în funcție de
      metodologia și sursele utilizate.
      <br />
      Este interzisă utilizarea instrumentului Web în scopuri ilegale sau pentru
      a încuraja consumul de droguri.
      <br />
      Creatorii acestui instrument Web nu își asumă nicio responsabilitate
      pentru utilizarea incorectă a datelor sau pentru eventualele prejudicii
      cauzate de utilizarea acestuia.
      <br />
      Utilizatorii sunt de acord să nu copieze, distribuie sau modifice datele
      sau informațiile prezentate în acest instrument Web fără permisiunea
      prealabilă a creatorilor.
      <br />
      Datele și informațiile prezentate în acest instrument Web pot fi
      actualizate periodic pentru a reflecta situația actuală a consumului de
      droguri în România.
      <br />
      Utilizatorii sunt de acord să folosească acest instrument Web și
      informațiile prezentate într-un mod responsabil și etic.
      <p>
        Copyright © 2023
        <span class="footer-span">|</span>
        <a href="mailto:contact@situatia-drogurilor.ro"
          >contact@situatia-drogurilor.ro</a
        >
      </p>
    </footer>
    <script src="../static/index-script.js"></script>
    <script src="../static/header-display.js"></script>
  </body>
</html>
