<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <title>Situatia Drogurilor din Romania</title>
      <link rel="icon" type="image/x-icon" href="../static/powerpuff_icon.png">
    <link rel="stylesheet" href="../static/select_year.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link rel="stylesheet" href="../static/main-styles.css">
</head>
<body>
     <header>
      <div class="header-left">
        <a href="./mainpage.html">Acasa</a>
      </div>
      <div class="header-right">
        <a href="./select_year.html">Statistici</a>
        <ul>
          <li>
            <a
              onclick="getYear(2018)"
              href="./statistic.html"
              class="year-container"
              >2018</a
            >
          </li>
          <li>
            <a
              onclick="getYear(2019)"
              href="./statistic.html"
              class="year-container"
              >2019</a
            >
          </li>
          <li>
            <a
              onclick="getYear(2020)"
              href="./statistic.html"
              class="year-container"
              >2020</a
            >
          </li>
          <li>
            <a
              onclick="getYear(2021)"
              href="./statistic.html"
              class="year-container"
              >2021</a
            >
          </li>
          <li>
            <a
              onclick="getYear(2022)"
              href="./statistic.html"
              class="year-container"
              >2022</a
            >
          </li>
          <li>
            <a
              onclick="getYear(2023)"
              href="./statistic.html"
              class="year-container"
              >2023</a
            >
          </li>
        </ul>
        <a href="./popular_drugs.html">Droguri</a>
        <a href="./helppage.html">Ajutor</a>
      </div>
    </header>

    <main>
      <div class="container">
        <a onclick="getYear(2023)" href="./statistic.html">
          <div class="card">
            <h2>2023</h2>
          </div>
        </a>
        <a onclick="getYear(2022)" href="./statistic.html">
          <div class="card">
            <h2>2022</h2>
          </div>
        </a>
        <a onclick="getYear(2021)" href="./statistic.html">
          <div class="card">
            <h2>2021</h2>
          </div>
        </a>
        <a onclick="getYear(2020)" href="./statistic.html">
          <div class="card">
            <h2>2020</h2>
          </div>
        </a>
        <a onclick="getYear(2019)" href="./statistic.html">
          <div class="card">
            <h2>2019</h2>
          </div>
        </a>
        <a onclick="getYear(2018)" href="./statistic.html">
          <div class="card">
            <h2>2018</h2>
          </div>
        </a>
      </div>
    </main>
    <footer>
        <p>Termeni și condiții</p>
        <br>
          Accesul la instrumentul Web de analiză și vizualizare la consumul de
          droguri este gratuit și nu necesită crearea unui cont.
        </br>
        <br>
          Datele statistice utilizate în acest instrument Web sunt obținute din
          surse publice, precum Institutul Național de Statistică, Autoritatea
          Națională pentru Consum și Controlul Drogurilor și alte organizații
          oficiale.
        </br>
        <br>
          Utilizatorii trebuie să acorde o atenție deosebită interpretării corecte
          a datelor statistice prezentate, deoarece acestea pot varia în funcție
          de metodologia și sursele utilizate.
        </br>
        <br>
          Este interzisă utilizarea instrumentului Web în scopuri ilegale sau
          pentru a încuraja consumul de droguri.
        </br>
        <br>
          Creatorii acestui instrument Web nu își asumă nicio responsabilitate
          pentru utilizarea incorectă a datelor sau pentru eventualele prejudicii
          cauzate de utilizarea acestuia.
        </dbr>
        <br>
          Utilizatorii sunt de acord să nu copieze, distribuie sau modifice datele
          sau informațiile prezentate în acest instrument Web fără permisiunea
          prealabilă a creatorilor.
        </br>
        <br>
          Datele și informațiile prezentate în acest instrument Web pot fi
          actualizate periodic pentru a reflecta situația actuală a consumului de
          droguri în România.
        </br>
        <br>
          Utilizatorii sunt de acord să folosească acest instrument Web și
          informațiile prezentate într-un mod responsabil și etic.
        </br>
        <p>
          Copyright © 2023
          <span class="footer-span">|</span>
          <a href="mailto:contact@situatia-drogurilor.ro"
            >contact@situatia-drogurilor.ro</a
          >
        </p>
      </footer>
    <script src="../static/index-script.js"></script>
  </body>
</html>
