<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <title>StatisticsDocs | RoDX</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="../static/images/powerpuff_icon.png"
    >
    <link rel="stylesheet" href="../static/stats-styles.css" >
    <link rel="preconnect" href="https://fonts.googleapis.com" >
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin >
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald&display=swap"
      rel="stylesheet"
    >
  </head>
  <body>
    <div class="container">
      <div class="year-container">
        <div class="company-name-container">
          <a href="/"><p id="company-name">RoDX</p></a>
        </div>
        <h1 id="year">#</h1>
      </div>

      <div class="info-container">
        <h1>Date si statistici privind consumul de droguri</h1>
        <ul class="bullet-list" id="bullet-list">
          <li>
            <a
              href="/statistic"
              onclick="saveOption('Admiterea la tratament ca urmare a consumului de droguri')"
              >Admiterea la tratament ca urmare a consumului de droguri</a
            >
          </li>
          <li>
            <a
              href="/statistic"
              onclick="saveOption('Bolile infecţioase asociate consumului de droguri injectabile')"
              >Bolile infecţioase asociate consumului de droguri injectabile</a
            >
          </li>
          <li>
            <a
              href="/statistic"
              onclick="saveOption('Urgenţe medicale datorate consumului de droguri')"
              >Urgenţe medicale datorate consumului de droguri</a
            >
          </li>
        </ul>
      </div>
    </div>
    <script src="../static/stats-script.js"></script>
    <script src="../static/index-script.js"></script>
  </body>
</html>
