header {
  position: fixed;
  z-index: 1;
  width: 100%;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-color: #d2d79f;
  transition: all 0.5s;
}

.show {
  opacity: 1;
}
.hide {
  opacity: 0;
}

a {
  text-decoration: none;
  color: #2e4f4f;
}

.header-left {
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header-left {
    font-size: 20px;
  }
}

.header-right {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 768px) {
  .header-right {
    font-size: 20px;
    gap: 30px;
  }
}

.statistics ul {
  display: none;
  position: absolute;
  list-style-type: none;
  z-index: 1;
  background-color: #d2d79f;
  font-size: 1.5rem;
  font-weight: bold;
  list-style-type: none;
  margin-left: -10px;
  color: #2e4f4f;
}

.header-right a:hover + ul,
.header-right ul:hover {
  display: block;
  text-align: center;
  padding: 15px;
}

.account-navbar {
  width: 30px;
}
