body {
  background-color: #90b77d;
}

.container {
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-top: 50px;
}

.form-container {
  margin-top: 30px;
}

.form-field {
  margin-bottom: 20px;
}

label {
  display: block;
}

input {
  padding: 8px;
  width: 200px;
}

.edit-button {
  margin-left: 150px;
  border: none;
  padding: 5px 15px;
}

.actions {
  margin-top: 30px;
  text-align: center;
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}
.logout-button {
  background-color: #42855b;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-button i,
.logout-button i {
  margin-right: 5px;
}
.label-email {
  color: #42855b;
  font-weight: bold;
  margin-bottom: 5px;
}

.label-password {
  color: #42855b;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

.error-text {
  font-size: 28px;
  font-weight: bold;
  margin-top: 30px;
  color: #d2d79f;
}

.warning-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: 'Roboto Flex', sans-serif;
  font-weight: 800;
  z-index: 9999;
}
