html,
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/************************* main page ************************/
.homepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../static/images/image1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  filter: brightness(90%) contrast(110%);
  filter: hue-rotate(20deg) saturate(120%);
  opacity: 0.7;
}
.main-title {
  font-family: Arial, sans-serif;
  font-size: 5rem;
  font-weight: bold;
  text-align: center;
  margin-top: -150px;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 30px #fff,
    0 0 40px #90b77d, 0 0 50px #90b77d, 0 0 60px #90b77d, 0 0 30px #fff,
    0 0 30px #fff, 0 0 70px #d2d79f, 0 0 80px #d2d79f, 0 0 90px #d2d79f,
    0 0 30px #fff;
}
.main-button {
  font-family: Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #42855b;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 6px 10px 0 rgba(245, 242, 242, 0.612);
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.main-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
